In [35]:
import pandas as pd

suppliers = pd.read_csv('../Labs files/course-files/northwind-mongo-master/suppliers.csv',
                       usecols=['SupplierID','CompanyName', 'City'])
product = pd.read_csv('../Labs files/course-files/northwind-mongo-master/products.csv',
                       usecols=['ProductID','ProductName','SupplierID'])

In [36]:
suppliers.merge(product, on='SupplierID')

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
73,28,Gai pâturage,Annecy,59,Raclette Courdavault
74,28,Gai pâturage,Annecy,60,Camembert Pierrot
75,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
76,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [37]:
suppliers.set_index('SupplierID',inplace=True)

In [38]:
suppliers.merge(product,left_index=True, right_on='SupplierID')

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Exotic Liquids,London,3,Aniseed Syrup,1
3,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,2
4,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,2
...,...,...,...,...,...
57,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne,27
58,Gai pâturage,Annecy,59,Raclette Courdavault,28
59,Gai pâturage,Annecy,60,Camembert Pierrot,28
60,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,29
61,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre,29

In [39]:
product.set_index('SupplierID',inplace=True)

In [40]:
suppliers.join(product)

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...
27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
28,Gai pâturage,Annecy,59,Raclette Courdavault
28,Gai pâturage,Annecy,60,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [41]:
suppliers.reset_index(inplace=True)

In [42]:
suppliers.merge(product, left_on='SupplierID', right_index=True)

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
0,1,Exotic Liquids,London,2,Chang
0,1,Exotic Liquids,London,3,Aniseed Syrup
1,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
1,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
26,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
27,28,Gai pâturage,Annecy,59,Raclette Courdavault
27,28,Gai pâturage,Annecy,60,Camembert Pierrot
28,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
28,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [43]:
product.reset_index(inplace=True)
product.rename({'SupplierID': 'supplier_id'}, axis=1,inplace=True)

In [44]:
product

    supplier_id  ProductID                      ProductName
0             1          1                             Chai
1             1          2                            Chang
2             1          3                    Aniseed Syrup
3             2          4     Chef Anton's Cajun Seasoning
4             2          5           Chef Anton's Gumbo Mix
..          ...        ...                              ...
72           17         73                       Röd Kaviar
73            4         74                    Longlife Tofu
74           12         75             Rhönbräu Klosterbier
75           23         76                     Lakkalikööri
76           12         77  Original Frankfurter grüne Soße

[77 rows x 3 columns]

In [45]:
product.merge(suppliers,left_on='supplier_id',right_on='SupplierID')

,supplier_id,ProductID,ProductName,SupplierID,CompanyName,City
0,1,1,Chai,1,Exotic Liquids,London
1,1,2,Chang,1,Exotic Liquids,London
2,1,3,Aniseed Syrup,1,Exotic Liquids,London
3,2,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans
4,2,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans
...,...,...,...,...,...,...
72,27,58,Escargots de Bourgogne,27,Escargots Nouveaux,Montceau
73,28,59,Raclette Courdavault,28,Gai pâturage,Annecy
74,28,60,Camembert Pierrot,28,Gai pâturage,Annecy
75,29,61,Sirop d'érable,29,Forêts d'érables,Ste-Hyacinthe
76,29,62,Tarte au sucre,29,Forêts d'érables,Ste-Hyacinthe